cloud_id                 = "asjkdvnjisdfhuvbnvvc"
folder_id                = "uasdfihsicbnuabchuch"
zone                     = "ru-central1-a"
image_id                 = "sjkdfiodjncjdcjnjxnc"
public_key_path          = "~/.ssh/yc-user.pub"
privat_key_path          = "~/.ssh/yc-user"
subnet_id                = "alkmwkodmiomasdkmw"
service_account_key_file = "key.json"
